@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&family=Poppins:wght@400;500;600;700&display=swap');

@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

.title-header {
  background-color: #0E416F;
}

.bg-red-table-header-color {
  background-color: #EE2E2A;
}
.css-rore5u-MuiDataGrid-columnHeaderTitle {
  font-size: 0.94rem !important;
  font-weight: 600 !important;
  
}